{% load static %}
<header class="header d-blue-bg">
    <div class="header-top">
        <div class="container">
            <div class="header-inner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="header-inner-start">
                            <div class="header__currency border-right">
                                <div class="s-name">
                                    <span>Language: </span>
                                </div>
                                <select>
                                    <option>English</option>
                                    <option>Deutsch</option>
                                    <option>Français</option>
                                    <option>Espanol</option>
                                </select>
                            </div>
                            <div class="header__lang border-right">
                                <div class="s-name">
                                    <span>Currency: </span>
                                </div>
                                <select>
                                    <option> USD</option>
                                    <option>EUR</option>
                                    <option>INR</option>
                                    <option>BDT</option>
                                    <option>BGD</option>
                                </select>
                            </div>
                            <div class="support d-none d-sm-block">
                                <p>Need Help? <a href="tel:+001123456789">+001 123 456 789</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                        <div class="header-inner-end text-md-end">
                            <div class="ovic-menu-wrapper">
                                <ul>
                                    <li><a href="{% url 'shop:about' %}">About Us</a></li>
                                    <li><a href="{% url 'shop:contact' %}">Order Tracking</a></li>
                                    <li><a href="{% url 'shop:contact' %}">Contact Us</a></li>
                                    <li><a href="{% url 'shop:faq' %}">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="heade-mid-inner">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                        <div class="header__info">
                            <div class="logo">
                                <a href="{% url 'shop:home' %}" class="logo-image"><img src="{% static 'img/logo/logo1.svg' %}"
                                        alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="header__search">
                            <form action="#">
                                <div class="header__search-box">
                                    <input class="search-input" type="text" placeholder="I'm shopping for...">
                                    <button class="button" type="submit"><i class="far fa-search"></i></button>
                                </div>
                                <div class="header__search-cat">
                                    <select>
                                        <option>All Categories</option>
                                        <option>Best Seller Products</option>
                                        <option>Top 10 Offers</option>
                                        <option>New Arrivals</option>
                                        <option>Phones &amp; Tablets</option>
                                        <option>Electronics &amp; Digital</option>
                                        <option>Fashion &amp; Clothings</option>
                                        <option>Jewelry &amp; Watches</option>
                                        <option>Health &amp; Beauty</option>
                                        <option>Sound &amp; Speakers</option>
                                        <option>TV &amp; Audio</option>
                                        <option>Computers</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                        <div class="header-action">
                            <div class="block-userlink">
                                <a class="icon-link" href="{% url 'shop:my_account' %}">
                                    <i class="flaticon-user"></i>
                                    <span class="text">
                                        <span class="sub">Login </span>
                                        My Account </span>
                                </a>
                            </div>
                            <div class="block-wishlist action">
                                <a class="icon-link" href="{% url 'shop:wishlist' %}">
                                    <i class="flaticon-heart"></i>
                                    <span class="count">0</span>
                                    <span class="text">
                                        <span class="sub">Favorite</span>
                                        My Wishlist </span>
                                </a>
                            </div>
                            <div class="block-cart action">
                                <a class="icon-link" href="{% url 'shop:cart' %}">
                                    <i class="flaticon-shopping-bag"></i>
                                    <span class="count">1</span>
                                    <span class="text">
                                        <span class="sub">Your Cart:</span>
                                        $00.00 </span>
                                </a>
                                <div class="cart">
                                    <div class="cart__mini">
                                        <ul>
                                            <li>
                                                <div class="cart__title">
                                                    <h4>Your Cart</h4>
                                                    <span>(1 Item in Cart)</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="cart__item d-flex justify-content-between align-items-center">
                                                    <div class="cart__inner d-flex">
                                                        <div class="cart__thumb">
                                                            <a href="{% url 'shop:product_details_static' %}">
                                                                <img src="{% static 'img/cart/20.jpg' %}" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="cart__details">
                                                            <h6><a href="{% url 'shop:product_details_static' %}"> Samsung C49J89: £875,
                                                                    Debenhams Plus </a></h6>
                                                            <div class="cart__price">
                                                                <span>$255.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart__del">
                                                        <a href="#"><i class="fal fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="cart__sub d-flex justify-content-between align-items-center">
                                                    <h6>Subtotal</h6>
                                                    <span class="cart__sub-total">$255.00</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="{% url 'shop:cart' %}" class="wc-cart mb-10">View cart</a>
                                                <a href="{% url 'shop:checkout' %}" class="wc-checkout">Checkout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="row g-0 align-items-center">
                <div class="col-lg-3">
                    <div class="cat__menu-wrapper side-border d-none d-lg-block">
                        <div class="cat-toggle">
                            <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i>
                                Shop by department</button>
                            <div class="cat__menu">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="{% url 'shop:product_list' %}">All Categories <i class="far fa-angle-down"></i></a>
                                            <ul class="mega-menu">
                                                <li><a href="{% url 'shop:product_list' %}">Shop Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Standard SHop Page</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Right Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Left Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 3 Column</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 4 Column</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Product Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product Details</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V3</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Varriable Product</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">External Product</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Other Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">wishlist</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shopping Cart</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Checkout</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Login</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Register</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'shop:product_list' %}">Phone and Electronics <i
                                                    class="far fa-angle-down"></i></a>
                                            <ul class="mega-menu mega-menu-2">
                                                <li><a href="{% url 'shop:product_list' %}">Shop Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Standard SHop Page</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Right Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Left Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 3 Column</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 4 Column</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Product Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product Details</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V3</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Varriable Product</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">External Product</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Other Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">wishlist</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shopping Cart</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Checkout</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Login</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Register</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'shop:product_list' %}">Best Seller Products
                                                <span class="cat-label">hot!</span>
                                                <i class="far fa-angle-down"></i>
                                            </a>
                                            <ul class="mega-menu">
                                                <li><a href="{% url 'shop:product_list' %}">Shop Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Standard SHop Page</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Right Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop Left Sidebar</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 3 Column</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shop 4 Column</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Product Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product Details</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Product V3</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Varriable Product</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">External Product</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Other Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">wishlist</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Shopping Cart</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Checkout</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Login</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Register</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                        <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="{% url 'shop:product_list' %}">Top 10 Offers
                                                <span class="cat-label green">new!</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'shop:product_list' %}">New Arrivals <i class="far fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'shop:product_list' %}">Home Appliances</a></li>
                                                <li><a href="{% url 'shop:product_list' %}">Technology</a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'shop:product_list' %}">Storage Devices</a></li>
                                                        <li><a href="{% url 'shop:product_list' %}">Monitors</a></li>
                                                        <li><a href="{% url 'shop:product_list' %}">Laptops</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="{% url 'shop:product_list' %}">Office Equipments</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'shop:product_list' %}">TV &amp; Audio</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Electronics &amp; Digital</a></li>
                                        <li class="d-laptop-none"><a href="{% url 'shop:product_list' %}">Fashion &amp; Clothings</a></li>
                                        <li class="d-laptop-none"><a href="{% url 'shop:product_list' %}">Jewelry &amp; Watches</a></li>
                                        <li><a href="{% url 'shop:product_list' %}">Health &amp; Beauty</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-3">
                    <div class="header__bottom-left d-flex d-xl-block align-items-center">
                        <div class="side-menu d-lg-none mr-20">
                            <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i
                                    class="fas fa-bars"></i></button>
                        </div>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{% url 'shop:home' %}" class="active">Home <i class="far fa-angle-down"></i></a>
                                        <ul class="megamenu-1">
                                            <li><a href="{% url 'shop:home' %}">Home Pages</a>
                                                <ul class="mega-item">
                                                    <li><a href="{% url 'shop:home' %}" class="active">Home One</a></li>
                                                    <li><a href="{% url 'shop:home_2' %}">Home Two</a></li>
                                                    <li><a href="{% url 'shop:home_3' %}">Home Three</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Shop 3 Column</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Shop 4 Column</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'shop:product_list' %}">Product Pages</a>
                                                <ul class="mega-item">
                                                    <li><a href="{% url 'shop:product_details_static' %}">Product Details</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Product V2</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Product V3</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Varriable Product</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">External Product</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'shop:product_list' %}">Other Pages</a>
                                                <ul class="mega-item">
                                                    <li><a href="{% url 'shop:product_details_static' %}">wishlist</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Shopping Cart</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Checkout</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Login</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Register</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                <ul class="mega-item">
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 4</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'shop:product_list' %}">Phone &amp; Tablets</a>
                                                <ul class="mega-item">
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 1</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 2</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 3</a></li>
                                                    <li><a href="{% url 'shop:product_details_static' %}">Catagory 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'shop:about' %}">About Us</a></li>
                                    <li class="has-mega"><a href="{% url 'shop:product_list' %}">Shop <i class="far fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <div class="container container-mega">
                                                <ul>
                                                    <li>
                                                        <ul>
                                                            <li class="title"><a href="{% url 'shop:product_list' %}">SHOP LAYOUT</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Pagination</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Ajax Load More</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Infinite Scroll</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Sidebar Right</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Sidebar Left</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul>
                                                            <li class="title"><a href="{% url 'shop:product_list' %}">SHOP PAGES</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">List View</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Small Products</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Large Products</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Shop — 3 Items</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Shop — 4 Items</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Shop — 5 Items</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul>
                                                            <li class="title"><a href="{% url 'shop:product_list' %}">PRODUCT LAYOUT</a>
                                                            </li>
                                                            <li><a href="{% url 'shop:product_list' %}">Description Sticky</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Product Carousel</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Gallery Modern</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Thumbnail Left</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Thumbnail Right</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Thumbnail Botttom</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul>
                                                            <li class="title"><a href="{% url 'shop:product_list' %}">Basketball</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">East Hampton Fleece</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Faxon Canvas Low</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Habitasse Dictumst</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Kaoreet Lobortis</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">NikeCourt Zoom</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">NikeCourts Air Zoom</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <ul>
                                                            <li class="title"><a href="{% url 'shop:product_list' %}">Basketball</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">East Hampton Fleece</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Faxon Canvas Low</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Habitasse Dictumst</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">Kaoreet Lobortis</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">NikeCourt Zoom</a></li>
                                                            <li><a href="{% url 'shop:product_list' %}">NikeCourts Air Zoom</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-image hover-effect"
                                                        style="background-image: url({% static 'img/bg/menu-item.jpg' %});">
                                                        <ul>
                                                            <li><a href="{% url 'shop:product_list' %}">
                                                                    <h4>Top Cameras <br> Bestseller Products</h4>
                                                                    <h5>4K</h5>
                                                                    <h6>Sale Up To <span>60% Off</span></h6>
                                                                </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="offer mt-40">
                                                <p><b>30% OFF</b> the shipping of your first order with the code:
                                                    <b>DUKA-SALE30</b></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="{% url 'shop:blog' %}">Blog <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'shop:blog' %}">Blog</a></li>
                                            <li><a href="{% url 'shop:blog_details' %}">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'shop:about' %}">Pages <i class="far fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'shop:my_account' %}">My Account</a></li>
                                            <li><a href="{% url 'shop:product_details_static' %}">Product Details</a></li>
                                            <li><a href="{% url 'shop:faq' %}">FAQs pages</a></li>
                                            <li><a href="{% url 'shop:cart' %}">Cart</a></li>
                                            <li><a href="{% url 'shop:wishlist' %}">Wishlist</a></li>
                                            <li><a href="{% url 'shop:checkout' %}">Checkout</a></li>
                                            <li><a href="{% url 'shop:contact' %}">Contact Us</a></li>
                                            <li><a href="{% url 'shop:404' %}">404 Error</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-9">
                    <div class="shopeing-text text-sm-end">
                        <p>Spend $120 more and get free shipping!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
        <div class="offcanvas__close">
            <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="offcanvas__content">
            <div class="offcanvas__logo mb-40">
                <a href="{% url 'shop:home' %}">
                    <img src="{% static 'img/logo/logo-white.png' %}" alt="logo">
                </a>
            </div>
            <div class="offcanvas__search mb-25">
                <form action="#">
                    <input type="text" placeholder="What are you searching for?">
                    <button type="submit"><i class="far fa-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu fix"></div>
            <div class="offcanvas__action">

            </div>
        </div>
    </div>
</div>
<!-- offcanvas area end -->
<div class="body-overlay"></div>
<!-- offcanvas area end -->